<div>
  <p>This is test component</p>
  <!-- <p>{{ title }}</p> -->
  <!-- <p>{{getFullName()}}</p>

  <img [src]="imageUrl" alt="random image">

  <p [ngStyle]="{color: 'red'}">Use ngStyle</p>
  <p [ngClass]="{'active': isActive, 'disabled':isDisabled}">Use ngClass</p> -->

  <!-- <button [disabled]="!isEnabled">Click me</button> -->

  <!-- <div class="event-example" [ngClass]="{'clicked': isClickedState}"></div>

  <button (click)="toggleState()">Switch the state</button> -->

  <!-- <input type="text" [(ngModel)]="inputText">
  <p>{{ inputText }}</p> -->
  <!-- <p>{{ childMessage}}</p>

  <button (click)="sendMessageToParent()">Send mail to father...</button> -->

  <p *ngIf="isClickedState; else notClickedState">Кнопка була натиснута!!!</p>

  <ng-template #notClickedState>
    <p>Кнопка ще не була натиснена.</p>
    <p appHighlight [highlightColor]="'blue'">наведіть курсор, щоб побачити ефект!!!</p>
  </ng-template>
  <button (click)="toggleState()">Перемкни state</button>

</div>