<div>
  <p>This is test component</p>
  <!-- <p>{{ title }}</p> -->
  <!-- <p>{{getFullName()}}</p>

  <img [src]="imageUrl" alt="random image">

  <p [ngStyle]="{color: 'red'}">Use ngStyle</p>
  <p [ngClass]="{'active': isActive, 'disabled':isDisabled}">Use ngClass</p> -->

  <!-- <button [disabled]="!isEnabled">Click me</button> -->

  <!-- <div class="event-example" [ngClass]="{'clicked': isClickedState}"></div>

  <button (click)="toggleState()">Switch the state</button> -->

  <!-- <input type="text" [(ngModel)]="inputText">
  <p>{{ inputText }}</p> -->
  <!-- <p>{{ childMessage}}</p>

  <button (click)="sendMessageToParent()">Send mail to father...</button> -->

  <!-- <div *ngIf="isClickedState; else notClickedState">
    <p>Кнопка була натиснута!!!</p>
    <ul>
      <li *ngFor="let user of users; index as i">{{i + 1}}: {{user}}</li>
    </ul>
  </div>

  <ng-template #notClickedState>
    <p>Кнопка ще не була натиснена.</p>
    <p appHighlight [highlightColor]="'blue'">наведіть курсор, щоб побачити ефект!!!</p>
  </ng-template> -->

  @if (isClickedState){
  <p>Кнопка була натиснута!!!</p>
  <ul>
    <!-- <li *ngFor="let user of users; index as i">{{i + 1}}: {{user}}</li> -->
    @for (user of users; track user; let idx = $index){
    <li>{{idx + 1}}: {{user}}</li>
    }
  </ul>
  } @else {
  <p>Кнопка ще не була натиснена.</p>
  <p appHighlight [highlightColor]="'blue'">наведіть курсор, щоб побачити ефект!!!</p>
  }

  <!-- <div [ngSwitch]="appState">
    <p *ngSwitchCase="'active'">App is active</p>
    <p *ngSwitchCase="'paused'">App is paused</p>
    <p *ngSwitchCase="'stopped'">App is stopped</p>
    <p *ngSwitchDefault>App state is undefined</p>
  </div> -->

  @switch (appState) {
  @case ("active") {
  <p>App is active</p>
  }
  @case ("paused") {
  <p>App is paused</p>
  }
  @case ("stopped") {
  <p>App is stopped</p>
  }
  @default {
  <p>App state is undefined</p>
  }
  }

  <button (click)="toggleState()">Перемкни state</button>

</div>